.file-system-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.file-system-container h3 {
    margin-bottom: 16px;
}
 
/* container aournd file system tree */
.file-system-container {
    background-color: white;
    padding: 12px 16px;
}

/* root folders / files list */
.root-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

/* search by path */
.search-input {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 8px;
}

.search-error {
  color: red;
  margin-top: 8px;
}

.search-success {
  color: green;
  margin-top: 8px;
}
