.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgb(146, 96, 96);
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-left {
  position: absolute;
  left: 1rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-link:hover {
    color: rgb(223, 220, 220);
}

.menu-btn {
    font-size: 1.5rem;
    background-color: none;
    border: none;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -30%;
    width: 30%;
    height: 100%;
    background-color: rgb(98, 97, 97);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1500;
    display: flex;
    flex-direction: column;
}

.side-menu.open {
    left: 0;
}

.close-btn {
  align-self: flex-end;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 1400;
}

.side-menu h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}