.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(91, 91, 91);
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 1rem;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.header-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  display: flex;
  gap: 6rem;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(223, 220, 220);
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}


.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgb(91, 91, 91);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1500;
  display: flex;
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side-menu.open {
  transform: translateX(0);
}

.close-btn {
  align-self: flex-end;
}
.close-btn:hover {
  background-color: rgb(247, 74, 74);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 1400;
}

